<div id="approve">
    <h1 class="page-header">
        <i class="fa fa-check"></i>
        Approve
        <span class="font-14">
            &nbsp;
            <strong
                class="text-blue"
                v-text="connect.approved">
            </strong>
            &nbsp;
            persons
        </span>
    </h1>
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a
                    class="btn btn-xs btn-icon btn-circle btn-default"
                    href="javascript:void(0);"
                    data-click="panel-expand">
                    <i class="fa fa-expand"></i>
                </a>
                <a
                    class="btn btn-xs btn-icon btn-circle btn-success"
                    href="javascript:void(0);"
                    data-click="panel-reload">
                    <i class="fa fa-redo"></i>
                </a>
                <a
                    class="btn btn-xs btn-icon btn-circle btn-warning"
                    href="javascript:void(0);"
                    data-click="panel-collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
            <div class="panel-title font-14 font-bold">
                Enter Registration Code
            </div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    maxlength="25"
                    v-on:keypress="onApproveEnter(event)"
                    v-model="approve.registerCode"
                />
                <div class="input-group-append">
                    <button
                        type="button"
                        class="btn btn-yellow"
                        v-on:click="searchForApproveToServer()">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <fieldset v-bind:disabled="disableds.approve">
            <div
                class="profile card text-left mb-0"
                v-if="profiles && profiles.length">
                <div class="card-header d-none"></div>
                <div
                    class="card-block text-center"
                    v-for="(p,i) in profiles" :key="i">
                    <h4 class="card-title text-center">
                        <span v-text="p.titlename"></span>
                        <span v-text="p.fullname"></span>
                        <br />
                        <span
                            class="badge badge-primary mt-2"
                            v-show="p.registrationCode">
                            <span v-text="p.registrationCode"></span>
                        </span>
                    </h4>
                    <div class="detail">
                        <p class="card-text">
                            <div class="title text-blue">
                                Faculty
                            </div>
                            <div
                                class="value"
                                v-text="p.section">
                            </div>
                        </p>
                        <p class="card-text">
                            <div class="title text-blue">
                                Status
                            </div>
                            <div class="value">
                                <span v-text="p.statusMU"></span>
                                <span
                                    class="text-orange font-11"
                                    v-text="p.studentDegree">
                                </span>
                            </div>
                        </p>
                        <p class="card-text">
                            <div class="title text-blue">                    
                                Country
                            </div>
                            <div
                                class="value"
                                v-text="p.countryNameEN">
                            </div>
                        </p>
                        <p class="card-text">
                            <div class="title text-blue">
                                Ticket
                            </div>
                            <div class="value">
                                <span v-text="p.event1"></span>
                                <br />
                                <span
                                    class="text-grey font-11"
                                    v-text="p.createdate">
                                </span>
                                <span v-show="p.approvedate"></span>
                            </div>
                        </p>
                        <p class="card-text">
                            <div class="title text-blue">
                                Approve
                            </div>
                            <div class="value">
                                <span v-if="p.approve === 'Y'">
                                    <!--
                                    <i class="fa fa-check text-green"></i>
                                    -->
                                    <span class="text-green">
                                        Completed
                                        <br />
                                        <span 
                                            class="font-11"
                                            v-text="p.approvedate">
                                        </span>
                                    </span>
                                </span>
                                <span v-else>
                                    <span class="text-grey">
                                        Not Approve
                                    </span>
                                </span>
                            </div>
                        </p>
                        <p class="card-text">
                            <div class="title text-blue align-middle pb-0">                    
                                Food Coupon
                            </div>
                            <div class="value pb-0">
                                <button
                                    class="btn btn-sm qty-control left"
                                    v-bind:disabled="coupons === 0 ? true : false"
                                    v-on:click="coupon(-1)">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <span
                                    class="on-left on-right badge badge-inverse"
                                    style="font-size:17px"
                                    v-text="coupons">
                                </span>
                                <button
                                    class="btn btn-sm qty-control right"
                                    v-bind:disabled="coupons === max ? true : false"
                                    v-on:click="coupon(1)">
                                    <i class="fa fa-plus"></i>
                               </button>
                               <span
                                    class="text-red"
                                    v-show="maximunCoupon">
                                    Maximum
                                </span>
                            </div>
                        </p>
                    </div>
                    <button
                        class="btn-approve btn btn-lg btn-green text-white"
                        v-on:click="approving()">
                        <i class="fa fa-check"></i>&nbsp;
                        <span v-text="labels.approve"></span>
                    </button>
                    <!--
                    <button
                        class="btn-approve btn btn-lg btn-green text-white"
                        v-show="!disableds.approve"
                        v-on:click="approving()">
                        <i class="fa fa-check"></i>&nbsp;
                        <span v-text="labels.approve"></span>
                    </button>
                    -->
                </div>
                <div class="card-footer d-none"></div>
            </div>
        </fieldset>
        <div
            class="card card-inverse bg-gradient-black rounded-top-0"
            v-show="panels.approve">
            <div class="card-block">
                <h4 class="card-title m-t-5 m-b-10">
                    Data Not Found
                </h4>
                <p class="card-text m-b-15 font-14">
                    Please re-input registrartion code again
                </p>
            </div>
        </div>
    </div>
</div>
